<app-navbar></app-navbar>
<div class="container pt-5">
  <div class="row mb-5">
    <hr>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3 text-center">
      <span class="ml-2 text-black-50 display-4 align-middle font-italic">Parking</span>
    </div>
  </div>
  
  <div class="row mb-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
      <div class="card" style="max-width: 85%; margin: auto;">
        <img class="" src="assets/img/bannerParking.jpg" width="100%;">
        <div class="card-body">
          <p class="card-text">
            Busca parqueaderos de una manera sencilla y eficaz a travez del mapa!!
          </p>
        </div>
      </div>
    </div>
  </div>
  
  



</div>
<app-footer></app-footer>