<app-navbar></app-navbar>
<app-form paddingHorizontal="px-4 d-flex">
  <div class="card-body">
    <h5 class="card-title mb-4"><img class="" src="assets/img/vehiculo-icono.png" width="50"> Registro Vehiculo</h5>
    
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Usuario:</label>
          <select name="" id="" class="form-control">
            <option value="">Jaider</option>
            <option value="">Andres</option>
            <option value="">Cris</option>
          </select>
        </div>
        
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Placa:</label>
          <app-input type="text"></app-input>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Tipo de Vehiculo:</label>
          <select name="" id="" class="form-control">
            <option value="">Carro</option>
            <option value="">Moto</option>
            <option value="">Bicileta</option>
          </select>
        </div>
      </div>
    </div>
    <app-button type="button" content="Registrar"></app-button>
  </div>
</app-form>
<app-footer></app-footer>
