<div id="login">
<div class="card" style="width: 18rem; margin:0 auto">
  <app-form paddingHorizontal="px-1">
    <div class="card-body">
      <div class="text-center mb-2">
        <img class="" src="assets/img/loginImage.png" width="50">
        <h5 class="card-title mt-3">Inicio de sesion</h5>
      </div>
     
      <div class="form-group">
        <label for="exampleInputEmail1">correo:</label>
        <app-input type="text"></app-input>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Contraseña:</label>
        <app-input type="password"></app-input>
      </div>
      <app-button type="button" content="Iniciar" routerLink="/"></app-button>
    </div>
  </app-form>
  <h6 class="text-center">No tienes cuenta? <a routerLink="/registrar-personal">Registrate aqui!</a></h6>
</div>
</div>