<app-navbar></app-navbar>

<div class="container pt-5">
    <div class="table-responsive">
        <table class="table table-striped
        table-hover	
        table-borderless
        table-primary
        align-middle">
            <thead class="table-light">
                <caption>Mis Parqueaderos</caption>
                <tr>
                    <th>Direccion</th>
                    <th>Hora Apertura</th>
                    <th>Hora Cierre</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="table-primary" >
                        <td scope="row">calle 47#xx-xxx</td>
                        <td>13:30</td>
                        <td>19:00</td>
                        <td>$4000</td>
                        <th>
                            <a href="#"><img class="" src="assets/img/editar-icono.png" width="25"></a> |
                            <a href="#"><img class="" src="assets/img/borrar-icono.png" width="25"></a>
                        </th>
                    </tr>
                    <tr class="table-primary">
                        <td scope="row">calle 48#xx-xxx</td>
                        <td>13:30</td>
                        <td>19:00</td>
                        <td>$4000</td>
                        <th>
                            <a href="#"><img class="" src="assets/img/editar-icono.png" width="25"></a> |
                            <a href="#"><img class="" src="assets/img/borrar-icono.png" width="25"></a>
                        </th>
                    </tr>
                </tbody>
                <tfoot>
                    
                </tfoot>
        </table>
    </div>
</div>


