<app-navbar></app-navbar>
<app-form paddingHorizontal="px-4 d-flex">
  <div class="card-body">
    <h5 class="card-title mb-4"><img class="" src="assets/img/register.svg" width="50"> Registro Usuario</h5>
    
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Usuario:</label>
          <app-input type="text"></app-input>
        </div>
        
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <label for="exampleInputEmail1">password:</label>
          <app-input type="password"></app-input>

        </div>
        
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Primer Nombre:</label>
          <app-input type="text"></app-input>
        </div>
      </div>
      <div class="col-md-6  col-lg-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Segundo Nombre:</label>
          <app-input type="text"></app-input>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Primer Apellido:</label>
          <app-input type="text"></app-input>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Segundo Apellido:</label>
          <app-input type="text"></app-input>
        </div>
      </div>
      <div class="col-md-6  col-lg-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Correo:</label>
          <app-input type="text"></app-input>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
          <label for="exampleInputEmail1">tipo Identificacion:</label>
          <select name="" id="" class="form-control">
            <option value="">CC</option>
            <option value="">TI</option>
            <option value="">NIT</option>
          </select>
        </div>
      </div>
      <div class="col-md-6  col-lg-4">
        <div class="form-group">
          <label for="exampleInputEmail1">N° Identificacion:</label>
          <app-input type="text"></app-input>
        </div>
      </div>
    </div>
    <app-button type="button" content="Registrar"></app-button>
  </div>
</app-form>
<app-footer></app-footer>